.popup__container {
  width: 100%;
  max-width: 430px;
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}


@media screen and (max-width: 580px) {
  .popup__container {
    max-width: 282px;
  }
}

.popup__container::after {
  content: '';
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
}
